[MASTER]
ignore=venv,migrations
load-plugins=pylint_django

[MESSAGES CONTROL]
# Disable some Django-specific false positives
disable=
    import-outside-toplevel,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring

[FORMAT]
max-line-length=100

[DESIGN]
max-parents=7
max-attributes=15
max-args=10
max-locals=25
