# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django migrations
*/migrations/
!*/migrations/__init__.py

# SQLite database
*.sqlite3

# Environment variables
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Static files (if collected)
staticfiles/
static_root/

# Media files (if used)
media/

# Logs
*.log

# Virtual environment
venv/
ENV/
env/